<h1>Songs#show</h1>

Title: <%= @song.title %><br/>
<% if @song.genre %>
    Genre: <%= @song.genre_name %><br/>
<% end %>

<% if @song.notes %>
    Notes: <% @song.notes.map do |note| %>
        <div> <%= note.content %>    </div>
        <% end %>
<% end %>